#app {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

body {
  overflow-x: hidden;
}

.main {
  padding-top: 1rem;
  padding-bottom: 1rem;
  flex: 1;
}

.alert-container {
  margin-top: 1rem;
}

.alert-shake {
  animation: shake 0.6s ease-in, fadeIn 0.5s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes shake {
  0% {
    transform: translateY(-1.4rem);
  }
  20% {
    transform: translateY(0rem);
  }
  40% {
    transform: translateY(-0.5rem);
  }
  60% {
    transform: translateY(0rem);
  }

  80% {
    transform: translateY(-0.2rem);
  }

  100% {
    transform: translateY(0);
  }
}
.navbar-brand--foodie {
  font-style: italic;
  transition: 0.3s ease;
}

.navbar-brand--foodie:hover,
.navbar-brand--foodie:active {
  opacity: 0.7;
}

.navbar-icon {
  margin: 0 1rem;
  width: 1.25rem;
  height: 1.25rem;
  filter: invert(100%);
  opacity: 0.7;
  transition: 0.3s ease;
}

.card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-icon {
  margin: 0 1rem;
  width: 1.25rem;
  height: 1.25rem;
  opacity: 0.7;
  transition: background 0.3s ease;
}

.card-icon--love {
  cursor: pointer;
  background-image: url("../assets/icons/heart-outline.svg");
}

.badge-category {
  cursor: pointer;
  transition: filter 0.2s;
}

.badge-category:hover,
.badge-category:active {
  filter: brightness(0.9) contrast(1.1);
}

.card-icon--love:hover,
.love--filled {
  background-image: url("../assets/icons/heart.svg");
}

.navbar-icon:hover,
.navbar-icon:active {
  opacity: 1;
}

.footer-text {
  font-size: 0.725rem;
}

.home-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 2rem 5rem;
  justify-items: stretch;
}

.meal-main {
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.meal-thumbnail {
  width: 10rem;
}

.spinner-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sidebar-bar {
  border-radius: 5px;
  padding: 1rem;
  background-color: #343a40;
  z-index: 10;
  position: fixed;
  top: 0px;
  right: 0px;
  min-width: 30vw;
  max-width: 26rem;
  transition: transform 0.2s ease-in-out;
}

.sidebar-hidden {
  transform: translateX(100%);
}

.card-fav {
  cursor: pointer;
}

.card-fav:hover,
.card-fav:active {
  opacity: 0.8;
}

.overlay {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(4px) brightness(0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeIn 0.2s ease;
}

.modal-card {
  min-width: 30vw;
  max-width: 26rem;
}

.modal-card > .card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
